<#times{
  display:flex;
  width:100%;
  height:90px;
  background-color:blue;
  padding: 10px;
  justify-content:center;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
}
#SPFC{
  width:50px;
  height:50px;
  background-color:red;
  font-size: 12px;
  justify-content:center;
}
#corinthians{
  width: 50px;
  height: 50px;
  background-color:yellow;
  border-radius: 50%;
  font-size: 12px;
  justify-content:center;
}
#palmeiras{
  width: 50px;
  height: 50px;
  background-color:yellow;
  border-radius: 50%;
  font-size: 12px;
  justify-content:center;
}
#santos{
  width: 50px;
  height: 50px;
  background-color:yellow;
  border-radius: 50%;
  font-size: 12px;
  justify-content:center;
}